<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 bg-primary border-bottom box-shadow">
  <div class="container">
  <h1 class="my-0 mr-md-auto font-weight-bold white float-left">Angular Contacts</h1>
    <nav class="my-2 my-md-0 mr-md-3 float-right">
      <a
        class="p-2 text-dark white"
        routerLink="/users">
        Home
      </a>
      <a
        class="p-2 text-dark white"
        routerLink="/user-create">
        Create
      </a>
    </nav>
    </div>
  </div>
  