<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Contact List
      </h1>      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Occupation</th>
            <th scope="col">Phone</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <th>{{user.name}}</th>
            <th>{{user.occupation}}</th>
            <th> {{user.phones[0].phone}}</th>
            <th>
              <p
                data-placement="top"
                data-toggle="tooltip"
                title="Details"><button
                  class="btn btn-warning btn-xs"
                  data-title="Details"
                  data-toggle="modal"
                  data-target="#details"
                  [routerLink]="['/users', user.id]"><fa-icon [icon]="faInfo"></fa-icon>
                </button></p>
            </th>
            <th>
              <p
                data-placement="top"
                data-toggle="tooltip"
                title="Edit"><button
                  class="btn btn-primary btn-xs"
                  data-title="Edit"
                  data-toggle="modal"
                  data-target="#edit"
                  [routerLink]="['/user-edit', user.id]"><fa-icon [icon]="faPencilAlt"></fa-icon>
                </button></p>
            </th>
            <th>
              <p
                data-placement="top"
                data-toggle="tooltip"
                title="Delete"><button
                  class="btn btn-danger btn-xs"
                  data-title="Delete"
                  data-toggle="modal"
                  data-target="#delete"
                  (click)="deleteUser(user)"><fa-icon [icon]="faTrash"></fa-icon>
                </button></p>
            </th>
          </tr>
          <!-- <tr></tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
