<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <span
        class="anchor"
        id="formUserEdit"></span>
      <hr class="my-5">
      <!-- form user info -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Create User</h3>
        </div>
        <div class="card-body">
          <form
            class="form"
            role="form"
            autocomplete="off"
            [formGroup]="formGroup">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Name</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="text"
                  value
                  placeholder="John Done"
                  formControlName="name">
              </div>
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="getError('occupation')">
              {{ getError('name')}}
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="email"
                  value
                  placeholder="john.doe@gmail.com"
                  formControlName="email">
              </div>
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="getError('occupation')">
              {{ getError('email')}}
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Age</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="number"
                  value
                  placeholder="25"
                  formControlName="age">
              </div>
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="getError('occupation')">
              {{ getError('age')}}
            </div>

            <div
              formArrayName="phones"
              *ngFor="let phone of phones.controls; let i = index">
              <div [formGroupName]="i" class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                <div class="col-lg-7">
                  <input
                    class="form-control"
                    type="text"
                    value
                    placeholder="809-858-8585"
                    formControlName="phone">
                </div>
                <button class="col-lg-1 btn btn-primary btn-xs" (click)="addItem()">
                    <fa-icon [icon]="faPhone"></fa-icon>
                </button>
                <button class="col-lg-1 btn btn-danger btn-xs" (click)="deleteItem(i)">
                  <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              </div>
            </div>

            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="getError('occupation')">
              {{ getError('phone')}}
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Occupation</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="url"
                  value
                  placeholder="Doctor"
                  formControlName="occupation">
              </div>
            </div>
            <!-- <span>{{ getError('occupation')}}</span> -->
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="getError('occupation')">
              {{ getError('occupation')}}
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input
                  type="button"
                  class="btn btn-outline-success"
                  value="Guardar"
                  [disabled]="formGroup.invalid"
                  (click)="addUser()">
                <input
                  type="reset"
                  class="btn btn-outline-danger ml-4"
                  value="Cancelar"
                  (click)="actionCancel()">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
