<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <span
        class="anchor"
        id="formUserEdit"></span>
      <hr class="my-5">
      <!-- form user info -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Details</h3>
        </div>
        <div class="card-body">
          <div
            class="form"
            role="form"
            autocomplete="off">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Name</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="text"
                  value="{{ user.name }}"
                  placeholder="John Done"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="email"
                  value="{{ user.email }}"
                  placeholder="john.doe@gmail.com"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Age</label>
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="number"
                  value="{{ user.age }}"
                  placeholder="25"
                  disabled>
              </div>
            </div>
            <div
                *ngFor="let phone of user.phones; let i = index">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="text"
                      value="{{ phone.phone }}"
                      placeholder="809-858-8585"
                      disabled>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Occupation</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                type="url"
                value="{{ user.occupation }}"
                placeholder="Doctor"
                disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
              <input
                type="button"
                class="btn btn-outline-success"
                value="Volver Atras"
                [routerLink]="['/users']">

              <button
                [routerLink]="['/user-edit', user.id]"
                class="btn btn-outline-primary ml-4">
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
